name: appcraft_utils_flutter
description: A starting point for Dart libraries or applications.
version: 1.0.0
# repository: https://github.com/my_org/my_repo

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.10.0'

dependencies:
  equatable: ^2.0.5

dev_dependencies:
  lints: ^5.0.0
  test: ^1.24.0
